<ion-view view-title="Registro">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/material-graphite.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo.png');"></div>
                <h3><a class="light">Registre sus datos</a></h3>
            </div>
        </div>
        <!--
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Friends
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Photos
            </a>
        </div>

        <h4 class="content padding double-padding-x">Following</h4>
        -->
        <div class="list">
            <ion-md-input placeholder="NickName" highlight-color="dark" type="text"></ion-md-input>
            <ion-md-input placeholder="Nombres" highlight-color="dark" type="text"></ion-md-input>
            <ion-md-input placeholder="Apellidos" highlight-color="dark" type="text"></ion-md-input>
            <ion-md-input placeholder="Correo electronico" highlight-color="dark" type="email"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.registerTerms" class="button button-full button-positive ink">Enviar</button>
        </div>
    </ion-content>
</ion-view>