<ion-view view-title="Confirmacion de Registro">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/material-graphite.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo.png');"></div>
                <h3><a class="light">Confirmacion de Registro</a></h3>
            </div>
        </div>
        <div class="content"></div>
        <div class="content padding double-padding-x">
                <br></br>
                <p>
                    Su registro ha sido exitoso, hemos enviado una clave a su correo electronico para que pueda acceder a la red mas grande de fidelizacion
                </p>
                <p>Muchas Gracias</p>
                <p>Ahora Somos Global!</p>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-positive ink">Enviar</button>
        </div>
    </ion-content>
</ion-view>